@page
@model IAMS.Web.Pages.Address.IndexModel
@{
    ViewData["Title"] = "Address page";
}
<div class="text-center">
    <h1 class="display-4">Address List</h1>
    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                <input type="text" name="SearchRecipient" value="@Model.CurrentRecipient" class="form-control" placeholder="Recipient Name" />
            </p>
            <p>
                <input type="text" name="CurrentAddress1" value="@Model.CurrentAddress1" class="form-control" placeholder="Address Line 1" />
            </p>
            <p>
                <input type="text" name="CurrentAddress2" value="@Model.CurrentAddress2" class="form-control" placeholder="Address Line 2" />
            </p>
            <p>
                <input type="text" name="CurrentAddress3" value="@Model.CurrentAddress3" class="form-control" placeholder="Address Line 3" />
            </p>
            <p>
                <input type="text" name="SearchCity" value="@Model.CurrentCity" class="form-control" placeholder="City" />
            </p>
            <p>
                <select multiple name="SearchCountryId" asp-items="@Model.CountryList" asp-for="SelectedCountryId" class="form-select">
                    <option value="0">Select Country</option>
                </select>
            </p>
@*             <p>
                <select multiple name="stateId" asp-items="@Model.StateList" asp-for="SelectedStateId" class="form-select">
                    <option value="0">Select State</option>
                </select>
            </p> *@
            <p>
                <input type="text" name="SearchPostalCode" value="@Model.CurrentPostalCode" class="form-control" placeholder="Postal Code" />
            </p>
            <p>
                <input type="submit" value="Search" class="btn btn-primary" /> |
                <a asp-page="./Index">Back to full List</a>
                <a asp-page="Create">Create New</a>
            </p>

        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Address ID</th>
                <th>Recipient</th>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>Address 3</th>
                <th>City</th>
                <th>State Name</th>
                <th>Country Name</th>
                <th>Postal Code</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Address != null)
            {
                foreach (var address in Model.Address.Data)
                {
                    <tr>
                        <td>@address.AddressId </td>
                        <td>@address.RecipientName</td>
                        <td>@address.AddressLine1</td>
                        <td>@address.AddressLine2</td>
                        <td>@address.AddressLine3</td>
                        <td>@address.City</td>
                        <td>@address.StateName </td>
                        <td>@address.CountryName</td>
                        <td>@address.PostalCode</td>
                        <td>
                            <!-- <snippet_Edit> -->
                            <a asp-page="./Edit" asp-route-id="@address.AddressId">Edit</a> |
                            <!-- </snippet_Edit> -->
                            <!-- <snippet_Delete> -->
                            <button type="submit" asp-page-handler="delete" asp-route-id="@address.StateId">delete</button>
                            <!-- </snippet_Delete> -->
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.Address.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Address.HasNextPage ? "disabled" : "";
    }
    <a asp-page="./Index"
       asp-route-pageIndex="@(Model.Address.PageNumber - 1)"
       asp-route-currentRecipient="@Model.CurrentRecipient"
       asp-route-selectedCountryId="@Model.SelectedCountryId"
       asp-route-currentCity="@Model.CurrentCity"
       asp-route-currentPostCode="@Model.CurrentPostalCode"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-pageIndex="@(Model.Address.PageNumber + 1)"
       asp-route-currentRecipient="@Model.CurrentRecipient"
       asp-route-selectedCountryId="@Model.SelectedCountryId"
       asp-route-currentCity="@Model.CurrentCity"
       asp-route-currentPostCode="@Model.CurrentPostalCode"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
</div>
